@import '~antd/dist/antd.css'; 


.header-background{
  background: white;
}
.sider-background{
  background-color:#f0f2f5;
}

.content-background {
  background: #fff;
}
 
.site-top-game-list ul {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

